{{body-class (concat-class "custom-list-body" this.model.path)}}
<Discovery::Layout @model={{this.model}}>
  <:navigation>
    <section class="navigation-container">
      <DNavigation @model={{@model}} />
    </section>

  </:navigation>
  <:list>
    <Discovery::Topics
      @model={{this.model}}
      @canBulkSelect={{this.canBulkSelect}}
      @bulkSelectHelper={{this.bulkSelectHelper}}
      @showDismissRead={{this.showDismissRead}}
      @dismissRead={{this.dismissRead}}
    />
  </:list>
</Discovery::Layout>